.header {
    flex: .1;
    margin: 2% auto 0;
    background: #c6c6c6;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 39px;
    max-width: 1200px;
    width: 100%;
}
  